/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #914ec8, #fb8fe9);
  color: #333;
}

/* Container de Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  background: #fff;
  color: #333;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-card h1 {
  margin-bottom: 1em;
  font-size: 1.5em;
}

.input-group {
  position: relative;
  margin-bottom: 1em;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.input-group input {
  padding: 0.75em 2.5em 0.75em 2.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

input:focus {
  border-color: #914ec8;
  outline: none;
}

button {
  width: 100%;
  padding: 0.75em;
  border: none;
  border-radius: 5px;
  background: #914ec8;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #8f94fb;
}

/* Estilos do Dashboard */
header {
  background: #333;
  color: #fff;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  position: fixed;
  top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto 0 auto;
  padding: 1em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section {
  display: none;
}

section.active {
  display: block;
}

section h2 {
  margin-bottom: 1em;
  font-size: 1.5em;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form button {
  margin-bottom: 1em;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.categoriaFormLabel {
  flex: 1; /* Faz o label ocupar o máximo de espaço disponível */
  margin-right: -7em; /* Espaçamento entre o label e o select */
  font-size: 1em;
  margin-left: 1em;
}

.categoriaForm {
  flex: 3; /* Faz o select ocupar o restante do espaço */
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  appearance: none; /* Remove o estilo padrão do elemento */
  background-color: white; /* Cor de fundo */
}

.categoriaForm:focus {
  outline: none; /* Remove o contorno ao focar */
  border-color: #3498db; /* Cor da borda ao focar */
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Sombra ao focar */
}

form button {
  background: #914ec8;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #8f94fb;
}

.hidden {
  display: none;
}
#orderList {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

#orderList th, #orderList td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  vertical-align: top;
}

#orderList th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.order-item {
  display: flex;
  margin-bottom: 8px;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.order-item strong {
  margin-right: 8px;
}

.order-item img {
  border-radius: 5px;
  width: 200px; /* Adjust the width as needed */
  height: auto;
  object-fit: cover;
  margin-left: 8px;
}

@media (max-width: 768px) {
  #orderList th, #orderList td {
      padding: 10px;
  }

  .order-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .order-item img {
      margin-left: 0;
      margin-top: 5px;
  }
}

.hidden {
  display: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input, form button, form select {
  margin-bottom: 1em;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.form-row {
  display: flex;
  align-items: center;
}

.form-row label {
  margin-right: 1em;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  vertical-align: top;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  overflow: hidden;
}

.table-item strong {
  margin-right: 8px;
}

.table-item img {
  border-radius: 5px;
  width: 200px; /* Adjust the width as needed */
  height: auto;
  object-fit: cover;
  margin-left: 8px;
}

@media (max-width: 768px) {
  .container {
      width: 100%;
      padding: 10px;
  }

  .table th, .table td {
      padding: 10px;
  }

  .table-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .table-item img {
      margin-left: 0;
      margin-top: 5px;
      width: 100%; /* Make the image responsive */
  }
}
